# Code

In [50]:
import pandas as pd

In [64]:
file=pd.read_csv('incubyte.txt',delimiter = '|')

In [65]:
file.to_csv('incubyte.csv', 
                  index = None)
print(file)

   Unnamed: 0  H Customer_Name  Customer_Id  Open_Date  Last_Consulted_Date  \
0         NaN  D          Alex       123457   20101012             20121013
1         NaN  D          John       123458   20101012             20121013
2         NaN  D        Mathew       123459   20101012             20121013
3         NaN  D          Matt        12345   20101012             20121013
4         NaN  D         Jacob         1256   20101012             20121013

  Vaccination_Id Dr_Name State Country      DOB Is_Active
0            MVD    Paul    SA     USA  6031987         A
1            MVD    Paul    TN     IND  6031987         A
2            MVD    Paul   WAS    PHIL  6031987         A
3            MVD    Paul   BOS     NYC  6031987         A
4            MVD    Paul   VIC      AU  6031987         A

In [62]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      float64
 1   H                    5 non-null      object
 2   Customer_Name        5 non-null      object
 3   Customer_Id          5 non-null      int64
 4   Open_Date            5 non-null      int64
 5   Last_Consulted_Date  5 non-null      int64
 6   Vaccination_Id       5 non-null      object
 7   Dr_Name              5 non-null      object
 8   State                5 non-null      object
 9   Country              5 non-null      object
 10  DOB                  5 non-null      int64
 11  Is_Active            5 non-null      object
dtypes: float64(1), int64(4), object(7)
memory usage: 608.0+ bytes

In [73]:
data=pd.read_csv('incubyte.csv',usecols=[2,3,4,5,6,7,8,9,10,11])
data

,Customer_Name,Customer_Id,Open_Date,Last_Consulted_Date,Vaccination_Id,Dr_Name,State,Country,DOB,Is_Active
0,Alex,123457,20101012,20121013,MVD,Paul,SA,USA,6031987,A
1,John,123458,20101012,20121013,MVD,Paul,TN,IND,6031987,A
2,Mathew,123459,20101012,20121013,MVD,Paul,WAS,PHIL,6031987,A
3,Matt,12345,20101012,20121013,MVD,Paul,BOS,NYC,6031987,A
4,Jacob,1256,20101012,20121013,MVD,Paul,VIC,AU,6031987,A

In [103]:
headList=['Name', 'Cust_ID','open_Dt','Consul_Dt','VAC_ID','Dr_Name','State','County','DOB','FLAG']

In [104]:
data.to_csv('incubyte.csv',header=headList,index=False)

In [105]:
data2=pd.read_csv('incubyte.csv')

In [106]:

print(data2)

     Name  Cust_ID   open_Dt  Consul_Dt VAC_ID Dr_Name State County      DOB  \
0    Alex   123457  20101012   20121013    MVD    Paul    SA    USA  6031987
1    John   123458  20101012   20121013    MVD    Paul    TN    IND  6031987
2  Mathew   123459  20101012   20121013    MVD    Paul   WAS   PHIL  6031987
3    Matt    12345  20101012   20121013    MVD    Paul   BOS    NYC  6031987
4   Jacob     1256  20101012   20121013    MVD    Paul   VIC     AU  6031987

  FLAG
0    A
1    A
2    A
3    A
4    A

In [107]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Cust_ID    5 non-null      int64
 2   open_Dt    5 non-null      int64
 3   Consul_Dt  5 non-null      int64
 4   VAC_ID     5 non-null      object
 5   Dr_Name    5 non-null      object
 6   State      5 non-null      object
 7   County     5 non-null      object
 8   DOB        5 non-null      int64
 9   FLAG       5 non-null      object
dtypes: int64(4), object(6)
memory usage: 528.0+ bytes